@{
    ViewData["Title"] = "Seu financeiro pessoal";
    //TimeSpan timeInBusiness = DateTime.Now - new DateTime(2023, 11, 09);
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao MoneySense, seu financeiro pessoal</h1>
    @* <p class="lead">Disponivel desde @Convert.ToInt32(timeInBusiness.TotalDays) dias!</p> *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
